@import "tailwindcss";
@plugin "daisyui";

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

/*/////////////// shining eff///////////////////////// */
@keyframes shine {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

.shine-effect {
  position: relative;
  overflow: hidden;
}

.shine-effect::after {
  content: "";
  position: absolute;
  top: 0;
  left: -200%;
  width: 20%;
  height: 200%;
  background: linear-gradient(140deg, transparent, rgba(255, 255, 255, 0.2), transparent);
  transform: skewX(-25deg);
  animation: shine 5s infinite ease-in-out;
  animation-delay: 10s;
}

/* ///////////////////////////////////////////////////////////// */
